.case{
font-family: Lato;
font-size: 50px;
font-weight: 900;
line-height: 74px;
letter-spacing: 0em;
text-align: center;
}

.fromP{
font-family: Lato;
font-size: 25px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
color: #54688A;
}

.heycoll{
    font-family: Lato;
font-size: 20px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

font-family: Lato;
font-size: 20px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

}

.heypro{
    font-family: Lato;
font-size: 17px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

    color: #54688A;

}

.layout1{
width: 295px;
height: 318px;
top: 1773px;
left: 956px;
gap: 37px;
margin-top: 250px;
}