@import url('/node_modules/bootstrap/dist/css/bootstrap-grid.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


.mobile-menu {
  display: none;
}

.mobile-menu.open {
  display: block;
}


.into-pixel {
  font-family: Lato;
  font-size: 41px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.01em;
  text-align: left;

  font-family: Lato;
  font-size: 25px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.01em;
  text-align: left;

  font-family: Lato;
  font-size: 50px;
  font-weight: 900;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;

  font-family: Lato;
  font-size: 50px;
  font-weight: 300;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;

  font-family: Lato;
  font-size: 41px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -0.01em;
  text-align: left;
}

.intro-hey {
  /* width: 528px; */
  height: 100px;
  top: 260px;
  left: 120px;
}

.lay {
  /* width: 528px; */
  height: 259px;
  top: 260px;
  left: 120px;

}

.tail {
  font-family: Lato;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #54688A;
}

.reel {
  color: #54688A;
  font-family: Lato;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;

}

.con {
  background-color: #ECF1FA;
  width: 589px;
  height: 478px;
  top: 6595px;
  left: 731px;
  border-radius: 20px;

}

.textlay {
  width: 498px;
  height: 187px;
  top: 783px;
  left: 777px;
  border-radius: 10px;
  border: 1px;
}

input ::placeholder {
  font-family: Lato;
  font-size: 17px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.mess {
  /* width: 498px; */
  height: 200px;
  top: 6783px;
  left: 777px;
  border-radius: 10px;
  border: 1px;

}






.box {
  background: #ECF1FA;
  /* width: 589px; */
  height: 535px;
  top: 6595px;
  left: 731px;
  border-radius: 20px;
  margin: 20px;
}



input {
  font-family: Lato;
  font-size: 17px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width : 560px) {
  .ld {
    visibility: hidden;
  }

  .mpix {
    margin-top: -50px;
    font-size: 36px;
  }

  .mhey {
    margin-top: -50px;
  }

  .mtail {
    font-size: 2.5vh;
  }

  .mmar {
    margin-top: -40px;
  }

  .msize {
    height: 52px;
  }

  .mmar2 {
    margin-top: 8px;
  }

  .mheycol {
    margin-top: -300px;
  }

  .mheycol2 {
    margin-left: -18px;
  }

  #mtext {
    margin-right: 10px;
  }

  /* .mbox{
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    width: 250px;
    margin: -25px;
   } */

  .box {
    background: #ECF1FA;
    /* width: 589px; */
    height: 362px;
    /* top: 6595px; */
    left: 731px;
    border-radius: 20px;
    padding: 19px;

  }

  input {
    font-family: Lato;
    font-size: 17px;
    /* font-weight: 400; */
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
  }

  .m1 {
    font-size: 6px;
  }

  .mnav {
    margin: 0px;
  }
}

/*--Responsive CSS--*/

@media screen and (max-width: 768px) {
  .menuarea {
    display: none;
  }

  .topmenuicon {
    display: block;
  }

  .logomobile {
    float: left;
    width: 100%;
    text-align: center;
    padding: 30px 0;
  }

  .mobiemenu ul {
    list-style: none;
  }

  .mobiemenu ul li {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24pxx;
    padding: 0 0px 15px 0;
  }

  .mobiemenu ul li a {
    float: left;
    width: 100%;
    text-decoration: none;
    color: #000;
  }

  .footerarea {
    float: left;
    width: 100%;
    margin: 70px 0 50px 0;
    padding: 0 15px 0 19px;
  }

  .social_area a {
    padding: 0 0px 0 0px;
  }
}

/* @media screen and (max-width: 360px) {
  .headerarea {
    float: left;
    width: 100%;
    margin: 40px 0 40px 0;
  }

  .logo {
    float: left;
    width: 40px;
    height: 40px;
    padding: 5px 0 0 0;
  }

  .logomenu ul li {
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .topmenuicon {
    float: right;
    cursor: pointer;
    margin: 0 0 0 0;
  }

  .logomenu ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 10px;
  }

} */

.responsivearea.in {
  left: 0%;
}

.responsivearea {
  /* position: fixed; */
  top: 0;
  width: 80%;
  height: 100%;
  background-color: #f3f3f3;
  z-index: 1000;
  left: -80%;
  transition: all 0.3s ease-in;
}

*, ::after, ::before {
  box-sizing: border-box;
}

/* .mview{
  margin-left:-50px-;
} */