@import url('/node_modules/bootstrap/dist/css/bootstrap-grid.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


.mobile-menu {
  display: none;
}

.mobile-menu.open {
  display: block;
}


.into-pixel {
  font-family: Lato;
  font-size: 41px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.01em;
  text-align: left;

  font-family: Lato;
  font-size: 25px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.01em;
  text-align: left;

  font-family: Lato;
  font-size: 50px;
  font-weight: 900;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;

  font-family: Lato;
  font-size: 50px;
  font-weight: 300;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;

  font-family: Lato;
  font-size: 41px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -0.01em;
  text-align: left;
}

.intro-hey{
  /* width: 528px; */
  height: 100px ;
  top: 260px ;
  left: 120px;
}

.lay{
  /* width: 528px; */
height: 259px;
top: 260px;
left: 120px;

}

.tail{
  font-family: Lato;
font-size: 25px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
color: #54688A;
}

.reel{
  color: #54688A;
  font-family: Lato;
font-size: 25px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: center;

}

.con{
  background-color: #ECF1FA;
  width: 589px;
height: 478px;
top: 6595px;
left: 731px;
border-radius: 20px;

}

.textlay{
  width: 498px;
height: 187px;
top: 783px;
left: 777px;
border-radius: 10px;
border: 1px;
}

input ::placeholder{
  font-family: Lato;
font-size: 17px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
}

.mess{
  /* width: 498px; */
height: 200px;
top: 6783px;
left: 777px;
border-radius: 10px;
border: 1px;

}






.box{
  background: #ECF1FA;
  /* width: 589px; */
  height: 535px;
  top: 6595px;
  left: 731px;
  border-radius: 20px;
  margin: 20px;
}



input{
  font-family: Lato;
  font-size: 17px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width : 560px){
  .ld{
    visibility: hidden;
  }
  .mpix{
    margin-top:-50px;
    font-size: 36px;
  }
  .mhey{
    margin-top:-50px;
  }
  .mtail{
    font-size: 3.1vh;
  }
  .mmar{
    margin-top:-40px;
  }
  .msize{
    height: 40px;
  }
  .mmar2{
    margin-top:8px;
  }
}
